In [7]:
from random import randint
def randstr(l):
    s = []
    for i in range(l):
        s.append(chr(ord('a') + randint(0, 25)))
    return ''.join(s)

file = open('file.txt', 'w')
for i in range(randint(15, 30)):
    s = randstr(2)
    for j in range(randint(2, 7)):
        print(s, file=file)
file.close()

* создать файл и записать в него десятка полтора слов

In [34]:
words = open('file.txt').read().split()
d = dict()
for w in words:
    d[w] = words.count(w) if d.get(w, 0) == 0 else d[w]
arr = sorted(list(d.items()), key=lambda x: x[1], reverse=True)
print(*[arr[i][0] for i in range(3)])

ln tf kv

* считать слова из созданного в предыдущем упражнении файла
* выбрать три самых частоупотребляемых слова
* распечатать выбранные слова

In [41]:
import numpy as np
matrix = np.array([
    [1.0, 2.0, 3.0], 
    [2.0, 4.0, 6.0], 
    [4.0, 8.0, 24.0], 
])
np.linalg.det(matrix)
coef = 10**-10
ones_matrix = np.eye(matrix.shape[0], matrix.shape[1]) * coef
matrix += ones_matrix
np.linalg.det(matrix)

6.000000496732235e-09

* придумать матрицу с нулевым определителем
* показать с помощью numpy что определитель действительно нулевой
* применить регуляризацию
* показать что определитель перестал быть нулевым

In [57]:
import pandas as pd
d1 = pd.DataFrame({'a' : [1, 2, 3, 4, 5], 'b' : [11, 22, 33, 44, 55], 'c' : [111, 222, 333, 444, 555]})
d2 = pd.DataFrame({'a' : [1, 2, 3, 4, 5], 'd' : [112, 222, 332, 442, 552], 'e' : [1113, 2223, 3333, 4443, 5553]})
d1.to_csv('d1.csv')
d2.to_csv('d2.csv')
d1 = d2 = None

* создать два файла, которые могут быть зачитаны с помощью PandasDataframe
* зачитать эти файлы в датафреймы
* сделать join датафреймов

In [70]:
d1 = pd.read_csv('d1.csv')
d2 = pd.read_csv('d2.csv')
d3 = d1.merge(d2)
d3

   Unnamed: 0  a   b    c    d     e
0           0  1  11  111  112  1113
1           1  2  22  222  222  2223
2           2  3  33  333  332  3333
3           3  4  44  444  442  4443
4           4  5  55  555  552  5553

* удалить столбец из датафрейма

* сделать numpy.array, в котором:
 * первый столбец - 100 равномерно распределённых от 0 до 23 чисел
 * во втором столбце - квадрат чисел первого столбца
 * в третьем - синус
 * в четвёртом - тангенс

In [78]:
arr = np.array([np.linspace(0, 23, 100), ])
arr = np.array([np.linspace(0, 23, 100), arr ** 2, np.sin(arr), np.cos(arr)])

* с помощью np.solve вывести формулу суммы квадратов первых n натуральных чисел