# 1 (1 балл)
Напишите функцию, которая получает на вход шестизначный номер билетика и проверяет, является ли он счастливым (сумма 1х трёх цифр равна сумме последних трёх).

---

*Input:* six-digit number

*Output:* check if the first three digits sum is equal to the second three digits sum

**Пример 1:**

*Input:* 123456

*Output:* No


**Пример 2:**

*Input:* 123042

*Output:* Yes

In [1]:
def is_lucky(number):
    arr = list(map(int, list(number)))
    return sum(arr[:3]) == sum(arr[3:])

In [2]:
print("Yes" if (is_lucky(input())) else "No")

No

# 2 (2 балла)
Напишите функцию, которая получает на вход список чисел и возвращает кусочно-отсортированный список:
первое число остаётся на месте, вторые два числа отсортированы по возрастанию, следующие три по убыванию, следующие 4 снова по возрастанию и т.д.

---

*Input:* list of numbers

*Output:* partially sorted list of numbers -- 1st stays, 2nd and 3rd are sorted in the increasing order, next three are sorted in the decreasing order etc

**Пример:**

*Input:*

8 71 2 6 -3 5 1 7 4 0 1 2 3 

*Output:*

8 2 71 6 5 -3 0 1 4 7 3 2 1

In [28]:
def f(arr):
    cnt = 0
    i = 0
    for cnt in range(1, len(arr) // 2):
        new_segment = sorted(arr[i:i+cnt], reverse=True if cnt % 2 else False)
        #print(i, new_segment)
        for j in range(len(new_segment)):
            arr[i + j] = new_segment[j]
        i += cnt
    return arr

In [29]:
print(*f(list(map(int, '8 71 2 6 -3 5 1 7 4 0 1 2 3'.split()))))

8 2 71 6 5 -3 0 1 4 7 3 2 1

# 3 (1 балл)
Напишите функцию, которая получает на вход строку в английском алфавите и обрабатывает её следующим образом:
- каждая гласная заменяется на ближайшую справа по алфавиту согласную
- каждая согласная заменяется на её индекс в алфавите

---

*Input:* eng string

*Output:* string with some replacements:
- vowel is replaced with the nearest consonant in the alphabet to the right
- consonant is replaced with its index in the alphabet


**Пример:**

*Input:* abcdef

*Output:* b234f6

In [36]:
def remake_str(s):
    new_str = []
    for i in range(len(s)):
        new_str.append(chr(ord(s[i]) + 1) if s[i] in ['a', 'e', 'i', 'o', 'u'] else str(ord(s[i]) - ord('a') + 1))
    return ''.join(new_str)

In [37]:
remake_str('abcdef')

'b234f6'

# 4 (2 балла)
Напишите функцию, которая принимает строку, состоящую из пар слово-число, разделённых запятой (слова в паре разделены пробелом) и возвращает строку из слов, разделённых запятой, причём слова должны быть отсортированы лексикографически и каждое слово должно повторяться столько раз, какое число с ним в паре. 

---

*Input:* string containing comma-separated pairs (String Number)

*Output:* string containing each String the Number of times and all the Strings are arranged in lexicographical order

**Пример:**

*Input:* ac 2, f 3, a 0

*Output:* ac, ac, f, f, f

In [47]:
def make_strange(s):
    arr = s.split(', ')
    d = {}
    for x in arr:
        word, cnt = x.split()
        cnt = int(cnt)
        d[word] = cnt
    arr = sorted(d.items())
    print(''.join([(arr[i][0] + ', ') * arr[i][1] for i in range(len(arr))])[:-2])

In [48]:
make_strange('ac 2, f 3, a 0')

ac, ac, f, f, f

# 5 (2 балла)
Загрузите таблицу `bikes.csv` о данных по арендам велосипедов за $2$ года:
- `datetime`: дата и время аренды
- `season`: время года
- `temp`: температура воздуха по Цельсию
- `windspeed`: скорость ветра 
- `casual`: число аренд по абонементу
- `registered`: число остальных аренд

Выполните следующие задания:
- **(0.25)** сохраните в столбец `count` суммарное число аренд
- **(0.25)** выведите $3$-й и $4$-й столбцы для строк с $2340$ по $2350$
- **(0.25)** выведите столбцы `temp`, `registered` для тех строк, где `season = 2`
- **(0.25)** сохраните в отдельную таблицу колонки `temp`, `season` и `count`
- **(0.5)** постройте графики зависимости суммарного числа аренд от температуры
- **(0.5)** постройте гистограмму распределения числа аренд по временам года

---

Read the table `bikes.csv` with data on bicycle rents for $2$ years with columns:
- `datetime`
- `season`
- `temp`: air temperature
- `windspeed`
- `casual`: amount of casual rents
- `registered`: amount of new rents

Your tasks:
- add `count` column with the total amount of rents
- print $3$rd and $4$th columns for rows from $23409$ to $23500$
- print `temp`, `registered` columns for rows where `season = 2`
- copy `temp`, `season` and `count` columns to the new table 
- plot the dependence between the total amount of rents and temperature
- plot the histogram of the distribution the total amount of rents by the seasons

In [62]:
import pandas as pd
import numpy as np

data = pd.read_csv("bikes.csv")
data['count'] = pd.Series(np.random.randn(10886), index=data.index)
data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,0.991728
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,1.038636
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,-0.490527
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,0.954448
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,-0.577673

# 6 (3 балла)
Напишите функцию, которая получает на вход строку и возвращает минимальное количество символов, которое нужно приписать
к строке справа или слева так, чтобы она стала палиндромом.

---

*Input:* string

*Output:* amount of symbols to be added to the right or to the left of the string so that the string becomes a palindrom


**Пример:**

*Input:* aba

*Output:* 0

In [49]:
def is_pal(s):
  l = len(s)
  #print(s)
  if l == 0:
    return False
  if l == 1:
    return True
  for i in range(l // 2 + 1):
    if s[i] != s[l - i - 1]:
      return False
  return True

def how_much_arent_you_palindrom(s):
    l = len(s)
    best = l
    for i in range(1, l + 1):
      if is_pal(s[0:i]):
        best = l - i
    best_2 = l
    for i in range(l - 1, -1, -1):
      if is_pal(s[i:l]):
        best_2 = l - len(s[i:l])
    print(min(best, best_2))

In [50]:
how_much_arent_you_palindrom('abac')

1