In [190]:
import numpy as np
import pandas as pd
from sklearn import model_selection, linear_model, metrics
import xgboost as xgb
from random import randint

In [191]:
def port_to_numbers(port):
    if port == 'S':
        return pd.Series([1, 0, 0])
    elif port == 'Q':
        return pd.Series([0, 1, 0])
    else:
        return pd.Series([0, 0, 1])

def sex_to_numbers(sex):
    return pd.Series([1, 0]) if sex == 'male' else pd.Series([0, 1])

In [197]:
init_data = pd.read_csv('train.csv')
target = init_data['Survived']
port_columns = init_data['Embarked'].apply(port_to_numbers)
port_columns.columns = ['S', 'Q', 'C']
sex_columns = init_data['Sex'].apply(sex_to_numbers)
sex_columns.columns = ['M', 'F']
init_data = pd.concat([init_data, port_columns], axis=1)
init_data = pd.concat([init_data, sex_columns], axis=1)
train_data = init_data.drop(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Survived'], axis=1)

In [198]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(train_data, target, test_size=0.25, random_state=28)

In [199]:
model = xgb.XGBClassifier(max_depth=12, n_estimators=90)
model.fit(X_train, Y_train)
print(model.score(X_test, Y_test))

0.7847533632286996

/home/maximus/anaconda3/envs/cs/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [203]:
init_data = pd.read_csv('test.csv')
port_columns = init_data['Embarked'].apply(port_to_numbers)
port_columns.columns = ['S', 'Q', 'C']
sex_columns = init_data['Sex'].apply(sex_to_numbers)
sex_columns.columns = ['M', 'F']
init_data = pd.concat([init_data, port_columns], axis=1)
init_data = pd.concat([init_data, sex_columns], axis=1)
train_data = init_data.drop(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1)

In [204]:
res = model.predict(train_data)

/home/maximus/anaconda3/envs/cs/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [207]:
my_submission = pd.DataFrame({'PassengerId': init_data.PassengerId, 
                              'Survived': res})

In [208]:
my_submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         0
7            899         0
8            900         1
9            901         0
10           902         0
11           903         1
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         0
20           912         1
21           913         1
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         1
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         1
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [209]:
with open('submit.csv', 'w') as fd:
    fd.write(my_submission.to_csv(index=False))

In [210]:
!head submit.csv

PassengerId,Survived
892,0
893,0
894,0
895,0
896,0
897,0
898,0
899,0
900,1