In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a':[1, 2, 3], 'b':['mother', 'farther', 'brother'], 'c':['orange', 'yellow', 'green']})

In [3]:
df

   a        b       c
0  1   mother  orange
1  2  farther  yellow
2  3  brother   green

In [4]:
df.head(n=1)

   a       b       c
0  1  mother  orange

In [29]:
df[['a', 'c']]

   a       c
0  1  orange
1  2  yellow
2  3   green

In [23]:
names = pd.DataFrame({'b': ['mother', 'farther', 'brother'], 'd':[6, 7, 8]})

In [24]:
df.merge(names)

   a        b       c  d
0  1   mother  orange  6
1  2  farther  yellow  7
2  3  brother   green  8